body {
	background-color: rgb(25, 25, 25);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

div.title-container {
	text-align: center;
}

p.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	height: 35px;
	display: inline-block;
}

img.icon {
	height: 35px;
}

div.button-container {
	display: flex;
	justify-content: center;
}

img.move-icon {
	height: 50px;
}

button.move-button {
	background-color: transparent;
	border: 3px solid white;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}

div.result-image-container,
p.you-computer {
	text-align: center;
}

p.result {
	font-size: 25px;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
}

p.score {
	margin-top: 60px;
	text-align: center;
}

div.button-wrapper {
	text-align: center;
}

button.reset-score-button,
button.auto-play-button,
button.yes-button,
button.no-button {
	margin-right: 10px;
	background-color: white;
	border: none;
	font-size: 15px;
	padding: 8px 15px;
	cursor: pointer;
}

p.reset-score-confirmation-message {
	display: inline-block;
}

div.js-confirmation-container {
	height: 50.22px;
	text-align: center;
}

p.info {
	text-align: center;
}

div.keybind-list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
