
body {
    margin: 0;
    font-family: arial;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: courier new;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ff5959;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ff0000;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .right-lnk {
     float: right;
#heading{
    color:black;
    text-align: center;
    
}

#line{
    color:pink;
}
#table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top:20px;
}
#th{
    background-color:darkgrey;
}

table tr:nth-child(2n) td {
    background-color:darkgrey;
  }
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-form input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-form {
  width: 80%;
  margin: auto;
}
