
body{
  background-color: white;
  overflow: hidden;
}
.container{
  position: relative;
  left: 4.5pc;
  top: 7pc;
}
i{
  font-size: 300px;
  color: #ff0000;
}
.text-logo{
  position: relative;
  top: -250px;
  left: 340px;
  color: #282828;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -8px;
  font-family: Roboto Condensed;
}
