::-webkit-scrollbar{
  width: 0;
  height: 0;
}
body{
  background-color: #251f1f;
}
.container{
  width: 300px;
  height: 300px;
  box-shadow: 0 0 100px red, 0 1px 0 red, 1px 0 0 red;
  border-radius: 90px;
  position: relative;
  top: 17vh;
  left: 14vw;
}
.first-line-of-n-letter{
  width: 40px;
  height: 230px;
  background-color: #B00710;
  display: inline-block;
  position: relative;
  top: -5px;
  left: 5.8em;
}
.second-line-of-n-letter{
  width: 40px;
  height: 270px;
  background-color: #E50914;
  display: inline-block;
  position: relative;
  top: 13px;
  left: 5.5em;
  rotate: 341deg;
  z-index: 1;
  box-shadow: 0 0 10px black;
}
.third-line-of-n-letter{
  width: 40px;
  height: 230px;
  background-color: #B00710;
  display: inline-block;
  position: relative;
  top: -5px;
  left: 5.4em;
}
.rectangular-part-to-cover-upper-part-of-the-logo{
  width: 150px;
  height: 20px;
  border: 1px solid #251f1f;
  position: relative;
  bottom: 260px;
  left: 76px;
  background-color: #251f1f;
  z-index: 1;
}
.taller-part-to-cover-left-part-of-the-logo{
  width: 50px;
  background-color: #251f1f;
  height: 230px;
  position: relative;
  bottom: 260px;
  left: 43px;
  z-index: 1;
}
.circle-part-to-cover-lower-part-of-the-logo{
  width: 150px;
  height: 20px;
  border-radius: 200%;
  border: 1px solid #251f1f;
  position: relative;
  bottom: 265px;
  left: 76px;
  z-index: 1;
  background-color: #251f1f;
}
.text-logo{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  position: relative;
  top: -100px;
  left: 470px;
}
